img{
    width:35rem;
    height:auto;
    padding-top:4rem;
    margin-bottom:2.5rem;
    // padding: 3rem;
    z-index:1;
}

.log{
    background-color: #1b09bbea;
    color: white;
    padding: 0.5rem;
    border-radius: 50px;
}


  @media only screen and (max-width: 600px) {
    img {
        width:30rem;
        height:25rem;
        padding-top: 5.5rem;
        margin-left: 0px;
        margin-right: 0px;
        z-index:1;
    }

  }