img{
    width:35rem;
    height:auto;
    padding: 3rem;
    z-index:1;
}

.log{
    background-color: #1b09bbea;
    color: white;
    padding: 0.5rem;
    border-radius: 50px;
}
svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index:-10;
    width: 1920px;
  }