
<div class = lap-img>
<img src="https://cdn.dribbble.com/users/1998993/screenshots/4561207/__.png">
</div>
<div class="register">
<h2><b>Registartion</b></h2><br>
Name :<br>
<mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  E-mail :<br>
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" required>
    
  </mat-form-field>
  <br>
  Phone No :<br>
  <mat-form-field appearance="fill">
    <mat-label>Telephone</mat-label>
    <input type="tel" matInput placeholder="555-555-1234">
    <span matPrefix>+1 &nbsp;</span>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field><br>
  Password:<br>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br><br>
  <div class="btn-center">
  <button class = "mat-elevation-z4 col" mat-raised-button>Register Now</button>
</div>
</div>
