.register{
    margin-top: -550px;
    padding-left: 250px;
}

.lap-img{ 
    position: sticky;
    top:0;
    flex:column;
    padding-left: 700px;
    padding-top: 20px;
}

mat-form-field{
    width:100%;
}

.col{
    background-color: #334297;
    color: white;
}

mat-form-field{
    width:400px;
  }

  @media only screen and (max-width: 600px) {
    .register{
        margin-top: 5rem;
        padding-left: 30px;
        margin-right: 15px;
    }
    .lap-img{ 
display: none;
    }
    mat-form-field{
        width: 95%;
        margin-right: 30px;
    }
    h2{
        text-align: center;
    }
    // .mob-cen{
    //     text-align: center;
    //     margin-left: 7rem;
    // }
.btn-center{
    text-align: center;
}
  }